@keyframes lineSpinFadeLoader {
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.lineSpinFadeLoader {
  position: absolute;
  top: 25%;
  right: 10%;
  transform: translate(-50%, -50%);

}

.lineSpinFadeLoader > div:nth-child(1) {
  top: 10px;
  left: 0;
  animation: lineSpinFadeLoader 1.2s -0.84s infinite ease-in-out;
}

.lineSpinFadeLoader > div:nth-child(2) {
  top: 7px;
  left: 7px;
  transform: rotate(-45deg);
  animation: lineSpinFadeLoader 1.2s -0.72s infinite ease-in-out;
}

.lineSpinFadeLoader > div:nth-child(3) {
  top: 0;
  left: 10px;
  transform: rotate(90deg);
  animation: lineSpinFadeLoader 1.2s -0.6s infinite ease-in-out;
}

.lineSpinFadeLoader > div:nth-child(4) {
  top: -7px;
  left: 7px;
  transform: rotate(45deg);
  animation: lineSpinFadeLoader 1.2s -0.48s infinite ease-in-out;
}

.lineSpinFadeLoader > div:nth-child(5) {
  top: -10px;
  left: 0;
  animation: lineSpinFadeLoader 1.2s -0.36s infinite ease-in-out;
}

.lineSpinFadeLoader > div:nth-child(6) {
  top: -7px;
  left: -7px;
  transform: rotate(-45deg);
  animation: lineSpinFadeLoader 1.2s -0.24s infinite ease-in-out;
}

.lineSpinFadeLoader > div:nth-child(7) {
  top: 0;
  left: -10px;
  transform: rotate(90deg);
  animation: lineSpinFadeLoader 1.2s -0.12s infinite ease-in-out;
}

.lineSpinFadeLoader > div:nth-child(8) {
  top: 7px;
  left: -7px;
  transform: rotate(45deg);
  animation: lineSpinFadeLoader 1.2s 0s infinite ease-in-out;
}

.lineSpinFadeLoader > div {
  background-color: white;
  border-radius: 2px;
  margin: 8px;
  position: absolute;
  width: 3px;
  height: 8px;
}
