.readingListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__image {
    width: 25%;
    height: 25%;
    margin-right: 10px;
    border-radius: 5px;
  }

  &__details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  &__author {
    margin: 0 0 10px;
    font-size: 16px;
    color: #555;
  }

  &__button {
    background-color: #6EAA89;
    color: #FFF5F5;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    width: 80%;
  }
}
