.container {
 padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
  list-style: none;
}

@media (max-width: 450px) {
  .bookList {
    grid-template-columns: repeat(1, 1fr);
  }
}

.noBooksImg {
  width: 100%;
  margin: auto;
}

.noFoundContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
