.searchBar {
  display: flex;
  align-items: center;
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #E7E3E3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &__inputContainer {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #E7E3E3;
    padding: 10px;
    font-size: 16px;
  }
}
