.bookCardItem {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 378px;
  width: 100%;
}

.bookCardContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.bookCardImg {
  width: 100px;
  height: 150px;
  margin-right: 10px;
  border-radius: 5px;
}

.bookCardDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bookCardTitle {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.bookCardAuthor {
  margin: 0 0 10px;
  font-size: 16px;
  color: #555;
}
