@import "src/assets/main";

.container {
  display: flex;
  margin: auto;
  padding: 20px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.welcomeImage {
  width: 80%;
  display: block;
}

.title {
  font-size: 24px;
  text-align: center;
}




